// стилизация текста
.text{
	line-height: 1.5;
	@include font-size($font-size-base);
	strong, b{
		font-weight: bold;
	}
	h1{
		font-size: 4.21052632em;
		line-height: 1.0875em;
	}
	h2{
		font-size: 2.63157895em;
		line-height: 1.16em;
	}
	h3 {
		font-size: 1.63157895em;
		line-height: 1.87096774em;
	}
	h4{
		font-size: 1em;
		line-height: 1.52631579em;
		font-weight: bold;
	}
	h5{
		font-size: 1em;
		line-height: 1.52631579em;
	}
	p, ul, ol, pre, table, blockquote {
		margin-top: 0em;
		margin-bottom: 1.52631579em;
		&:last-child{
			margin-bottom: 0;
		}
	}
	ul ul, ol ol, ul ol, ol ul {
		margin-top: 0em;
		margin-bottom: 0em;
	}
	
	hr, .hr {
		border: 1px solid;
		margin: -1px 0;
	}
	a, b, i, strong, em, small, code {
		line-height: 0;
	}
	sub, sup {
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}
	sup {
		top: -0.5em;
	}
	sub {
		bottom: -0.25em;
	}
	.test{
		
	}
}